.loginbg{
    background: linear-gradient(135deg,#160018,#8a0f91);
}

.login-box{
    background-color:whitesmoke;
}

.input-items {
    background: transparent;
    border: none;
    outline: none;
    height: 50px;
}

.div-combo{
    background-color: rgba(128, 128, 128, 0.258) !important;
}

.form-btn{
    height: 48px;
    border: none;
    background-color: #3de340;
    color: #fff;
}

.sp-seperate{
    color: #3de340;
}