.tech-bg{
    background-color: #8884f12c;
}

.card1-shadow{
    border-top: 10px solid #fc4445;
}

.card2-shadow{
    border-top: 10px solid #3feec3;
}

.card3-shadow{
    border-top: 10px solid #5cdb95;
}

.card4-shadow{
    border-top: 10px solid #e27d60;
}