@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Raleway&display=swap');

.tit{
    font-family: 'Fredericka the Great', cursive;
    
}
.end{
    /* background: linear-gradient(2700deg,#1b838f,#a5dcec,#1b838f); */

}

.card1:hover{
    transition: 0.8s;
    transform: scale(1.1);
}
.workcard{
    font-family: 'Cormorant Garamond', serif;

}
